@font-face {
  font-family: "Pretendard Variable";
  src: url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/variable/pretendardvariable.woff2")
    format("woff2-variations");
  font-weight: 45 920;
  font-style: normal;
  font-display: swap;
}

@import "tailwindcss";

@theme {
  /* 폰트 (기본 sans) */
  --font-sans: "Pretendard Variable", Pretendard, ui-sans-serif, system-ui,
    -apple-system, "Apple SD Gothic Neo", "Noto Sans KR", "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";

  --color-white: #ffffff;
  --color-black: #000000;
  --color-scarlet: #ff6f61;
  --color-light-gray: #f8f9fb;
  --color-stroke-gray: #c8d1e2;
  --color-gray: #747d8f;
  --color-yellow: #ffef5e;
  --color-light-orange: #ff865b;

  --color-primary-orange: #fe4401;
  --color-primary-blue: #5361db;

  --color-secondary-blue: #adc4fa;
  --color-secondary-green: #87986c;

  --color-neutral-black: #121212;
  --color-neutral-gray: #fafafc;
  --color-neutral-white: #ffffff;

  --color-semantic-blue: #0065ff;
  --color-semantic-green: #36b37e;
  --color-semantic-yellow: #ffab00;
  --color-semantic-red: #ff5630;

  --color-grayscale-900: #000000;
  --color-grayscale-800: #1c1d1f;
  --color-grayscale-700: #27282c;
  --color-grayscale-600: #474c52;
  --color-grayscale-500: #73787e;
  --color-grayscale-400: #9ea3a7;
  --color-grayscale-300: #cacdd2;
  --color-grayscale-200: #eaebed;
  --color-grayscale-100: #f7f8fa;
  --color-grayscale-0: #ffffff;

  --color-modal-background: rgb(0 0 0 / 0.1);
}

@layer components {
  /* 묶음 래퍼 */
  .form-group {
    @apply flex flex-col items-start w-full;
  }

  /* 라벨 */
  .form-label {
    @apply font-semibold mb-2 mr-1;
  }

  /* 인풋 기본형 */
  .form-input {
    @apply w-full rounded-xl border border-grayscale-300 px-3 py-2
           outline-none focus:border-primary-orange;
  }

  /* 인풋+버튼 컨테이너 (absolute 버튼 배치용) */
  .form-input-wrap {
    @apply relative w-full;
  }

  /* 인풋 안쪽 오른쪽 버튼(주소검색 등) */
  .form-input-btn {
    @apply absolute right-1 top-1 bottom-1 px-3 rounded-full
           bg-primary-orange text-white text-sm;
  }
  /* 작은 버튼 */
  .form-input-small-btn {
    @apply px-3 py-2 rounded-full bg-primary-orange text-white text-sm;
  }
  /* 페이지 컨테이터 */
  .container {
    @apply flex-col flex-1;
  }
  /* 페이지 제목 */
  .page-title {
    @apply font-semibold text-3xl mb-4;
  }
  /* 바디 컨테이너 */
  .body-container {
    @apply flex-col h-full w-full overflow-y-scroll border-grayscale-200 border-2 rounded-lg p-4;
  }

  /**
  공고 등록용 css
  */
  .form-section-box {
    @apply w-full rounded-2xl border-1 border-grayscale-200 bg-white px-4 py-3 flex flex-col gap-2 shadow-sm text-left;
  }
  .form-title-box {
    @apply flex items-center justify-between hover:cursor-pointer;
  }
  .form-title-text {
    @apply text-lg font-semibold;
  }
  .form-body-container {
    @apply w-full px-5 pt-5 pb-6 flex flex-col;
  }
  .form-body-label {
    @apply font-semibold mb-2;
  }
  .form-hashtag {
    @apply px-3 py-1 rounded-full text-sm border transition bg-white text-gray-700 border-gray-300;
  }
  .form-hashtag-selected {
    @apply bg-primary-orange text-white border-primary-orange;
  }
  .form-input-textarea {
    @apply overflow-y-scroll w-full rounded-xl border max-h-72 border-gray-200 p-3 text-gray-800 outline-none focus:border-primary-orange overflow-hidden;
  }
  /* 
    랜딩 페이지 css
  */
  .landing-container {
    @apply py-[120px] max-w-[1440px] w-full sm:px-[65px] px-4;
  }
  .landing-divide {
    @apply flex flex-col justify-center md:flex-row md:justify-between md:items-center gap-10;
  }
  .landing-blue-box {
    @apply flex-col flex justify-center items-center p-[30px] rounded-2xl border-1 border-secondary-blue shadow-secondary-blue shadow-sm;
  }
  .landing-ui-box {
    @apply w-full rounded-t-2xl border-b-4 border-primary-orange py-6 px-1.5 bg-white shadow-sm shadow-secondary-blue text-lg font-medium;
  }
  .landing-ui-intro-section {
    @apply flex flex-1 flex-col justify-between items-center py-2.5 w-full text-center min-w-[363px] md:max-w-[497px];
  }
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide-x::-webkit-scrollbar:horizontal {
    display: none;
  }
  .scrollbar-hide-y::-webkit-scrollbar:vertical {
    display: none;
  }
}

html,
body,
#root {
  font-family: var(--font-sans);
}
.slick-slider {
  position: relative;
}

.slick-list {
  overflow: hidden;
}

.slick-slide > div {
  display: block;
  height: 100%;
}
